@import url(./variables.css);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-weight: bold;
    
}
header{
    display: flex;
    align-items: center;
    background: var(--dark-blue);
    color: white; 
}
.logo img{
    width: 150px;
    height: auto;
    margin-left: 100px;
}
.navbar{
    flex: 2;
    text-align: right;
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    transition: background .5s ;
}

/*------------main section----------*/
.containers{
    display: flex;
    background: url(../Assets/logo/Path2.png);
    background-size: cover;
    margin-top: -3px;
    height: 86.6vh;
    width: 100%;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.details{
    flex-basis: 50%;
    background-size: cover;
    
}
.details img{
    max-width: 51.5%;
    margin-top: 50px;
    margin-left: 200px;
    
}
h3,h1,p{
    
    padding: 3px 0 ;
}
h3{
    color: var(--text);
}
h1{
    font-size: 50px;
}
p{
    font-size: 15px;
    color: var(--gray);
}
h1{
    color: white;
}
.bn{
    margin-top: -70px;
}

.btnx{
    border-radius: 5px;
    border: 5px solid var(--button);
    background: none;
    color: var(--button);
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.about{
    margin-top: 70px;
}
.box{
    flex-basis: 50%;
    display: flex;
    border: 1 solid var(--gray);
    margin-left: 300px;
    width: 600px;
    height: 250px;
    box-shadow: 10px 10px 8px #888888;
}
.data{
    margin-left: 30px;
}
.box .data h2{
    font-size: 30px;
    font-weight: bolder;
}

.data img{
    width: 250px;
    height: 250px;
}

.data .social{
   
    display: flex;
}
.social img{
    position: relative;
    top: 55px;
    height: 4.7vh;
    width: 10%;
    cursor: pointer;
}

.workbox{
    margin-top: 100px;
    background: #AEAEAE;
}
.for{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.work-data{
    text-align: center;
    background:white;
    width: 400px;
    height: 150px;
    margin: 15px;
    padding: 30px;
    box-shadow: 10px 10px 8px #888888;

}

.work-data img{
    height: 106px;
    width: 187px;
}




/*------------main section----------*/



