@import url(./variables.css);
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-weight: bold;
    
}
header{
    display: flex;
    align-items: center;
    background: var(--dark-blue);
    color: white; 
}
.logo img{
    width: 150px;
    height: auto;
    margin-left: 100px;
}
.navbar{
    flex: 2;
    text-align: right;
    margin-right: 100px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
    transition: background .5s ;
}

/*------------main section----------*/
.containers{
    display: flex;
    background: url(../Assets/logo/Path2.png);
    background-size: cover;
    margin-top: -3px;
    height: 86.6vh;
    width: 100%;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.details{
    flex-basis: 50%;
    background-size: cover;
    
}
.details img{
    max-width: 51.5%;
    margin-top: 50px;
    margin-left: 200px;
    
}
h3,h1,p{
    padding: 3px 0 ;
    
}
h3{
    color: var(--text);
}
h1{
    font-size: 50px;
}
p{
    font-size: 15px;
    color: var(--gray);
}
.details h1{
    color: white;
}
.bn{
    margin-top: -70px;
}

.btnx{
    border-radius: 5px;
    border: 5px solid var(--button);
    background: none;
    color: var(--button);
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-shadow: 10px 10px 8px #000000;
    box-shadow: 10px 10px 8px #000000;
}

.about{
    margin-top: 70px;
}
.box{
    flex-basis: 50%;
    display: flex;
    border: 1 solid var(--gray);
    margin-left: 300px;
    width: 600px;
    height: 250px;
    box-shadow: 10px 10px 8px #888888;
}
.data{
    margin-left: 30px;
}
.box .data h2{
    font-size: 30px;
    font-weight: bolder;
}

.data img{
    width: 250px;
    height: 250px;
}

.data .social{
   
    display: flex;
}
.social img{
    position: relative;
    top: 55px;
    height: 4.7vh;
    width: 10%;
    cursor: pointer;
}

.workbox{
    margin-top: 100px;
    background: #AEAEAE;
}
.for{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.work-data{
    text-align: center;
    background:white;
    width: 400px;
    height: 150px;
    margin: 15px;
    padding: 30px;
    box-shadow: 10px 10px 8px #888888;

}

.work-data img{
    height: 11vh;
    width: auto;
}
.work-data h3{
    color: var(--gray);
    font-size: 30px;
    font-weight: bold;
}
.background{
    margin-top: 100px;
    background: url(../Assets/logo/alinenok-G9vRDGA46FY-unsplash.png);
    background-size: cover;
}
.available{
    margin-top: 100px;
    background: url(../Assets/logo/Path3.png);
    background-size: cover;
}

.data-2{
    padding: 245px;
    align-items: center;
}
.data-2 .h-2{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.p-2{
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.container .data-2 .btn-2{
    padding:5 60px;
    position: relative;
    left: 40%;
    top: 20px;
    box-shadow: 5px 5px 8px #000000;
}

.clints{
    margin-top: 100px;
    background: rgba(139, 134, 135, 0.253);
}

.data-3{
    text-align: center;
    padding: 50px;
}

.data-3 img{
    height: 20vh;
    width: auto;
    padding: 30px;
}
.data-3 .social img{
    height: 5vh;
    width: auto;
}
.data-3 h2{
    color: rgb(70, 67, 67);
    padding-bottom: 30px;
}
.data-3 h1{
    color: rgb(70, 67, 67);
    text-shadow: 5px 5px 8px #000000;
}
.data-3 p{
    color: rgb(70, 67, 67);
}

.carowsel{
    margin-top: 100px;
    background: url(../Assets/logo/Path\ 4.png);
    background-size: cover;
}
.carowsel .data{
    align-items: center;
    padding: 200px 0;
    
}
.data .item{
    background: white;
    margin: 0 20px;
    width: 250px;
    height: auto;
    box-shadow: 3px 3px 8px #000000;
}

.carowsel .data .item img{
    
    width: 250px;
    height: auto;
}

.contact{
    margin-top: 100px;
    align-items: center;
    background-color:rgba(139, 134, 135, 0.253) ;
}

.insert-data{
    padding: 100px;
    display: inline-block;
    text-align: center;
}
#firstname,#lastname{
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    
}
input,textarea{
    border: none;
    border-radius: 10px;
    list-style-type: none;
}

footer{
    margin-top: 100px;
    background-color: rgb(54, 53, 53);
}
.row-2{
    text-align: center;
}
.row-23{
    margin-bottom: 2px;
    text-align: center;
}
.conta{
    padding: 50px 0;
}
.row-2 img{
    width: 15%;
    height: auto;
}




/*------------main section----------*/



